<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withFormattedMessage>true</withFormattedMessage>
        </encoder>
    </appender>

    <appender name="loki" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=monitoring-app,host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout">
                <kvp>
                    <noPrefix>true</noPrefix>
                </kvp>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="loki" />
    </root>
</configuration>
